<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<!--Bootstrap-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<!--CSS propio-->
	<link rel="stylesheet" href="style.css" type="text/css">
	<!--Iconos Bootstrap-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<!--Favicon-->
	<link rel="shortcut icon" type="image/x-icon" href="img/black-belt.png">

	<title>Agregar Alumno</title>
</head>

<body>

	<header>
		<!--Menú hamburguesa-->
		<div class="menu">
			<nav class="navbar navbar-dark ">
				<div class="container-fluid">
					<button class="navbar-toggler float-left" type="button" data-toggle="collapse"
						data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon rounded menuHamburguesa"></span>
					</button>
					<div class="logo mx-auto ">
						<a href="#"><img src="img/sakura.svg" alt="Sakura"></a>
					</div>
					<div class=" float-right ">
						<a href=""><img src="img/logout.png" alt="LogOut"></a>
					</div>
				</div>
			</nav>
		</div>
		<div class="collapse col-12" id="navbarToggleExternalContent">
			<div class="lista-m col-12">
				<ul class="navbar-nav col-12">

					<li class="nav-item">
						<a class="nav-link" href=""><img src="img/karate (1).png" alt="Administrador">
							J.Cesar</a>
						<p class="id_admin">cesarjul@gmail.com</p>
					</li>
					<li class="nav-item">
						<a class="nav-link " href=""><img src="img/judo (1).png" alt="Alumnos">Alumnos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href=""><img src="img/fight.png" alt="clases">Clases</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href=""><img src="img/black-belt.png" alt="exámenes">Exámenes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href=""><img src="img/mount-fuji.png" alt="excursiones">Excursiones</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href=""><img src="img/setting.png" alt="configuración">Configuración</a>
					</li>

				</ul>
			</div>
		</div>
		<!--Menú hamburguesa fin-->
	</header>
	<!-- Jumbotrón-->
	<div class="jumbotron-fluid col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto ">

		<div class="botones">
			<button type="button" class="reg-op btn" id="abrirFormulario">Agregar</button>
			<button type="button" class="reg-op btn">Filtrar</button>
			<button type="button" class="reg-op btn">ordenar</button>
		</div>

	</div>
	<!--Fin jumbotrón-->

	<main class="container-fluid border rounded col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto main">


		<div class="row">
			<!--Modelo para representar un alumno-->
			<div class="mx-auto col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 mt-4 mb-4">

				<div class="card-body w-100">

					<!--Formulario-->

					<form class="encendido" id="formulario" method="POST" action="#" th:action="@{/addAlumno}"
						th:object="${alumno}">
						<!--Nombre y apellidos-->
						<div class="row">
							<div class="form-group col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
								<label for="nombre">Nombre</label>
								<input type="text" class="form-control" placeholder="Nombre" th:field="*{nombre}">
							</div>
							<div class="form-group col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
								<label for="Apellido1">Apellido 1</label>
								<input type="text" class="form-control" placeholder="Apellido1" th:field="*{apellido1}">
							</div>
							<div class="form-group col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
								<label for="Apellido2">Apellido 2</label>
								<input type="text" class="form-control" placeholder="Apellido2" th:field="*{apellido2}">
							</div>
						</div>
						<!--fila unica hasta fecha-->
						<div class="row ">
							<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
								<!--Dni y teléfono-->
								<div class="row">
									<div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
										<label for="fecha">DNI</label>
										<input type="text" class="form-control" placeholder="DNI" th:field="*{dni}">
									</div>
									<div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
										<label for="fecha">Teléfono </label>
										<input type="text" class="form-control" placeholder="Teléfono"
											th:field="*{telefono}">
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
								<!--Email y fecha de nacimiento-->
								<div class="row">
									<div class="form-group col-12 col-sm-12 col-md-4 col-lg-4 col-xl-6 ">
										<label for="fecha">Correo electrónico</label>
										<input type="email" class="form-control" id="email"
											placeholder="Correo electrónico" th:field="*{email}">
									</div>
									<div class="form-group col-12 col-sm-12 col-md-4 col-lg-4 col-xl-6 ">
										<label for="fecha"> Fecha de nacimiento</label>
										<input type="date" class="form-control" id="fecha"
											placeholder="Fecha de nacimiento" th:field="*{fechaNacimiento}">
									</div>
								</div>
							</div>
						</div>

						<div class="row ">
							<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
								<!--Curso y fecha Inscripción-->
								<div class="row">
									<div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
										<label for="curso">Curso</label>
										<select class="form-control" id="curso" th:field="*{curso}">
											<option value="-1">---</option>
											<option th:each="curso : ${lista_cursos}" th:value="${curso.id}"
												th:text="${curso.nombre}">Curso</option>
										</select>
									</div>
									<div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
										<label for="fechaIns"> Fecha de Inscripción</label>
										<input type="date" class="form-control" id="fechaIns"
											placeholder="Fecha de Inscripción" th:field="*{fechaInscripcion}">
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
								<!--Federado y Cinturón-->
								<div class="row">
									<!-- RadioButton Federado -->
									<div class="form-group col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 mx-auto">

										<label for="federados">Federado</label>

										<select class="form-control" id="federado" th:field="*{federado}">
											<option value="">---</option>
											<option th:each="federado : ${lista_federados}" th:value="${federado}"
												th:text="${federado}">Federado </option>
										</select>
									</div>

									<!--Cinturones -->
									<div class="form-group col-12 col-sm-12 col-md-4 col-lg-4 col-xl-6 ">

										<label for="cinturones">Cinturón</label>

										<select class="form-control" id="cinturones" th:field="*{cinturon}">
											<option value="">---</option>
											<option th:each="cinturon : ${lista_cinturones}" th:value="${cinturon}"
												th:text="${cinturon}">Cinturón </option>
										</select>

									</div>
								</div>
							</div>
						</div>
						<!--Dirección-->
						<div class="row">
							<div class="col-12 ">

								<div class="row">
									<!-- Provincias -->
									<div class="form-group col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
										<label for="provincia">Provincia</label>
										<select required name="provincia" class="form-control" th:field="*{provincia}">
											<option value="">---</option>
											<option th:each="provincia : ${lista_provincias}" th:value="${provincia}"
												th:text="${provincia}">Provincia</option>
										</select>

									</div>
									<div class="form-group col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
										<label for="nombre">Código Postal</label>
										<input type="text" class="form-control" placeholder="CP"
											th:field="*{codigoPostal}">
									</div>
									<div class="form-group col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
										<label for="nombre">Municipio</label>
										<input type="text" class="form-control" placeholder="Municipio"
											th:field="*{municipio}">
									</div>
									<div class="form-group col-12 col-sm-12 col-md-3 col-lg-6 col-xl-6">
										<label for="nombre">Dirección</label>
										<input type="text" class="form-control" placeholder="Dirección"
											th:field="*{direccion}">
									</div>
								</div>
							</div>
						</div>

						<div class="form-group col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
							<label for="nombre">Imagen</label>
							<input type="text" class="form-control" placeholder="Inserte aquí la url a su imagen..."
								th:value="${alumno.imagen}">
						</div>

						<!--Comentarios-->
						<div class="form-group">
							<label for="comentarios">Comentarios</label>
							<textarea class="form-control" id="comentarios" rows="3"
								th:field="*{comentarios}"></textarea>
						</div>


						<button type="submit" name="enviar" value="Enviar" class="btn btn-primary">Guardar</button>
					</form>

				</div>

			</div>
		</div>
	</main>



	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
		crossorigin="anonymous"></script>
	<script src="js.js" defer></script>
</body>

</html>